{% extends "layout.html" %}

{% block title%}Miniecommerce - Product Page{% endblock%}

{% block content%}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/karl.jpg" alt="...">
      <div class="caption">
        <h3>Karl Lagerfeld x Tokidoki</h3>
        <p>Designed by Italian artist Simone Legno, this limited edition Karl Lagerfeld figurine is a modern collectible. Part of a capsule range produced in collaboration with Manga-inspired brand tokidoki, it features a twistable head and sparkling diamanté embellishment. "These fun and playful pieces truly encompass the spirit of Karl," says NET-A-PORTER.COM's Fashion Director Holli Rogers.</p>
        <p><a href="/purchase_form" class="btn btn-danger" role="button">Buy</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}