{% extends "layout.html" %}

{% block title%}Miniecommerce - Purchase Form{% endblock%}

{% block content%}
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Purchase Form</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Full name" class="form-control">
              </div>
            </div>
            	<!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email</label>
	              <div class="col-md-9">
	                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
	              </div>
            </div>

            <!-- Shipping Address -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Shipping Address</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="address" placeholder="Please enter your address here" rows="5"></textarea>
              </div>
            </div>

            <!-- Shipping methods-->
            <div class="form-group">
            	 <label class="col-md-3 control-label" for="name">Shipping Method</label>
            	               <div class="col-md-9">
            	               	<select id="subject" name="method" class="form-control" required="required">
								                                <option value="na" selected="">Choose One:</option>
								                                <option value="service">Overnight</option>
								                                <option value="suggestions">2 Day Air</option>
								                                <option value="product">Standard</option>
								              </select>
															</div>
            </div>

            <!-- Credit card info-->
						<div class="form-group">
              <label class="col-md-3 control-label" for="cardholder">Card Holder's Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Name as seen on card" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="cardnumber">Card Number</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
            	 <label class="col-md-3 control-label" for="name">Card Expiry Date</label>
            	               <div class="col-md-6">
            	               	<select id="subject" name="method" class="form-control" required="required">
								                                	<option value = "1">January</option>
																									<option value = "2">February</option>
																									<option value = "3">March</option>
																									<option value = "4">April</option>
																									<option value = "5">May</option>
																									<option value = "6">June</option>
																									<option value = "7">July</option>
																									<option value = "8">August</option>
																									<option value = "9">September</option>
																									<option value = "10">October</option>
																									<option value = "11">November</option>
																									<option value = "12">December</option>
								              </select>
															</div>
															<div class="col-md-3">
																<select id="subject" name="method" class="form-control" required="required">
																	<option>2014</option>
							                    <option>2015</option>
							                    <option>2016</option>
							                    <option>2017</option>
							                    <option>2018</option>
							                    <option>2019</option>
							                    <option>2020</option>
							                    <option>2021</option>
							                    <option>2022</option>
							                    <option>2023</option>
							                    <option>2024</option>
							                    <option>2025</option>
							                    <option>2026</option>
							                    <option>2027</option>
							                    <option>2028</option>
							                    <option>2029</option>
							                    <option>2030</option>
							                    <option>2031</option>
																</select>
															</div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="cvv">CVV</label>
              <div class="col-md-2">
                <input id="cvv" name="cvv" type="text" class="form-control">
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <a href="/item_list"></a><button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
{% endblock %}